.upload-gallery {
    position: relative;
    min-height: 200px;
    max-height: 490px;
    overflow-y: hidden;
    width: inherit;
    border-radius: 6px;
    border: 1px dashed #CCC;
    background-color: #FAFAFA;
    padding: 20px;
}